.Service{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}
.awsome{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    
}
.awsome> :nth-child(1){
    font-size: 2.2rem;
    color: var(--black);
    font-weight: bold;
}
.awsome> :nth-child(2){
    font-size: 2.2rem;
    color: var(--orange);
    font-weight: bold;
}

.awsome> :nth-child(3){
    font-size: 1.2rem;
    color: var(--gray);
    font-weight: bold;
    margin-top: 1rem;

}
.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1px;
}
.Cards{
    position: relative;
}
.Cards>*{
    position: absolute;
}
